.containerOurHistory {
  width: 100%;
  height: 600px;
  display: flex;
  overflow: hidden;
}
.firstSectionOurHistory {
  flex: 0 0 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.firstSectionOurHistory img {
  width: 100%;
  height: 100%;
}

.secondSectionOurHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100%;
  text-align: start;
}
.infoSecondSectionOurHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.titleSectionAboutUs {
  font-size: 55px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spanTitleSectionAboutUs {
  font-weight: 800;
  color: #faa307;
  text-align: center;
}
.textSectionAboutUs {
  color: black;
  font-size: 18px;
  font-weight: 200;
  width: 600px;
}
.titleSectionAboutUs {
  width: 100%;
}
/*custom class component*/
.firstSectionOurHistory .customImageClass1 {
  width: 70%;
  height: 80%;
  margin-top: 50px;
}
