.navBar {
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  top: 0;
}
img {
  width: 180px;
  height: 100px;
}
ul {
  text-decoration: none;
}
.navBar-links {
  margin-right: 5%;
}
.navBar-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
}
#tel {
  margin-right: 30px;
}
.navBar-links a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 300;
}
.contentCartIcon {
  width: 80px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 5px;
}
.contentCartIcon img {
  width: 30px;
  height: 30px;
}
.contentCartIcon span {
  font-size: 12px;
  font-weight: 600;
}
.customBadge .MuiBadge-badge {
  background-color: #d72d2d;
}

/*reestructuracion responsive*/

@media screen and (max-width: 1440px) {
  .navBar-links a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 954px) {
  .navBar-links {
    margin-right: 2%;
  }
}

/**/
